<div class="container mt-4">
    <div class="row">
        <div class="col-6">
            <img style="width: 100%;" src="https://www.softbankrobotics.com/emea/themes/custom/softbank/images/full-nao.png" alt="">
        </div>
        <div class="col-6 text-center">
            <h1 class="mt-5 display-1" style="font-weight: bold;">Robot-Boys</h1>
            <p class="display-6 mt-4">Robot-boys est un site qui répertorie toutes les grandes créations robotique afin d'apporter de la visibilité sur ce qui ce fait de nos jours avec les plus récentes nouveautés.</p>
            <button class="btn btn-primary p-4" style="font-size: 40px" routerLink="robots"> Voir les robots &nbsp;
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg></button>
        </div>
    </div>
</div>